.navbar{
    background-color: whitesmoke;
    border-radius: 30px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    list-style: none;
    float: left;
}
.navbar li a{
    text-decoration: none;
    padding: 3px;
    color: #3487bf;
    font-size: larger;
}
.navbar li:hover{
    color: white;
    background-color: #3487bf;
}
.navbar li a:hover{
    color: white;
}
.navbar li .selected{
    text-decoration: underline;
    text-decoration-color: #3487bf;
    text-decoration-thickness: 4px;
}
.navbar li .selected:hover{
    text-decoration-color: white;
}
.navitem{
    height: 25px;
    padding: 10px;
}
.btn-apply{
    height: 22px;
    width: 95px;
    padding-bottom: 5px;
    text-align: center;
    background-color: white;
    font-size: larger;
    font-style: unset;
    border: 1px solid;
    border-color: #117aa3;
}
.btn-apply a {
    text-decoration: none;
    color: #2d9cddfc;
}
.btn-apply:hover {
    color: white;
    background-color: #2d9cddfc;
}

.btn-apply:hover a {
    color: white;
}
.row {
    display: flex;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.end-row {
    display: inline-grid;
    row-gap: 20px;
}
.center{
    text-align: center;
}
.fulltime {
    height: 20px;
    padding-top: 3px;
    padding-left: 12px;
    width: 65px;
    font-size: smaller;
    font-style: unset;
    color: #011604;
    border: 1px solid #07300b;
    border-color: #0a5808;
    border-radius: 18px;
    margin-left: 5px;
}

.fulltime:hover {
    color: #ffffff;
    background-color: #0a5808;
}


.marketing {
    height: 20px;
    margin-left: 5px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    width: 65px;
    background-color: rgb(255, 255, 255);
    font-size: smaller;
    font-style: unset;
    color: rgb(203 163 17);
    border: 1px solid;
    border-color: #ecc900;
    border-radius: 18px;
}

.marketing:hover {
    color: #ffffff;
    background-color: #ecc900;
}

.design {
    margin-left: 5px;
    height: 20px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 8px;
    width: 65px;
    background-color: rgb(255, 255, 255);
    font-size: smaller;
    font-style: unset;
    color: rgb(10 98 141);
    border: 1px solid;
    border-color: #0095ec;
    border-radius: 18px;
}

.design:hover {
    color: #ffffff;
    background-color: #0095ec;
}
.pagination {
    display: inline-block;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #2d9cddfc;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
#tbl-all-jobs {
    box-shadow: 0px 1px 6px 1px #81838bd1;
    padding: 10px;
}

.scroll {
    height: 500px;
    overflow: scroll;
}

.scroll::-webkit-scrollbar {
    display: none;
}