<div class="Main-Section">
    
    
    <div class="filters">
        <a href="#">List Jobs</a>
        <a href="#">Post Jobs</a>
        <a href="#">Update Jobs</a>
 
    </div>
   <div class="Sub-section">
     <div class="Job-section">
        <div style="display: flex;">
            <i class="icon1"></i>
            <p>UI/UX Designer<br><a href="#" style="text-decoration: none;">Shopee</a></p>
        </div>
        <p>We are looking for aUI/UX Designer to turn our software into easy-to-use products for our clients</p>
         <div class="Details">
            <button class="btn1">FullTime</button>
            <button class="btn1">$3000-$5000</button>
            <button class="btn1">Indonesia</button>
            <button class="btn1">Onsite</button>
            <button class="btn1">Remote</button> 
        </div><br><br>
         <div style="display: flex;">
            <i class="icon2"></i>
            <p>Product Designer<br><a href="#" style="text-decoration: none;">Amazon</a></p>
        </div>
        <p>Product Designer responsibilities include defining product specifications,creating digital or prime drawing fully-functional products</p>
         <div class="Details">
            <button class="btn1">FullTime</button>
            <button class="btn1">$3000-$5000</button>
            <button class="btn1">Indonesia</button>
            <button class="btn1">Onsite</button>
            <button class="btn1">Remote</button> 
        </div>
     </div>
     
   <img src="assets/images/smiley-businesswoman-posing-outdoors-with-arms-crossed-copy-space 1.png">
   </div>
    
</div>