.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.sidebar{
    background-color: #117EBD;
    padding: 10px;

}
.main{
    display: flex;
    flex-direction: column;
}
.header{
    padding: 10px;
}
.content{
    background-color:white;
    padding: 10px;
}