.container{
    display: flex;
    justify-content: space-between;
}
.left{
    font-size: x-large;
    font-weight: 800;
}
a{
    margin-left: 30px;
    text-decoration: none;
    color: gray;
    font-family: Bahnschrift;

}
.right{
    display: flex;
    font-size: large;
    align-items: center;
}
.right img,
.right a{
    vertical-align: middle;
}

.right img {
    margin-left: 20px;
}