<div class="Search-Section">
    <p style="color: #187BAF;font-weight: bold;margin-left: 150px;font-size: 25px;">Find JobSeeker</p>
    <div class="search-container">
        <i class="search-icon"></i>
        <input type="text" placeholder="Search By Job Title,Qualification,Industry"/>
        <i class="search-icon2"></i>
    </div>
    <div class="filters">
        <button class="btn1">Location</button>
        <button class="btn1">Experience</button>
        <button class="btn1">Category</button>
        <button class="btn1">Skills</button>
 
    </div>
    <div class="Details">
        <div class="btn_detail">
            <i class="Detail_Icon1"></i>
              Interviews<br>Scheduled 
              <p>8</p>
            
        </div>
         <div class="btn_detail">
             <i class="Detail_Icon2"></i>
            Applications<br>Received
            <p>127</p>
        </div>
        <div class="btn_detail">
             <i class="Detail_Icon3"></i>
            Total Jobs<br>Posted
            <p>49</p>
        </div>
    </div>
    <div class="image">
        <img src="assets/images/smiling.png">

    </div>
    
</div>