<div class="container">
    <div class="profilepic">
        <img class="image_dp" src="assets\images\cheerful-curly-business-girl-wearing-glasses 1 (1).png">
    </div>
    <div class="profiledetails">
        <p>Olivia</p>
        <p>Olivia@gmail.com</p>
    </div>
    <nav class="navigation">
        <ul>
        <li><img src="/assets/images/dashboard 1 (2).png">Dashboard</li>
        <li><img src="/assets/images/suitcase 2 (1).png">Jobs</li>
        <li><img src="/assets/images/application (1) 1.png">Applications</li>
        <li><img src="/assets/images/question (1) 1.png">Interviews</li>
        <li><img src="/assets/images/message 1.png">Messages</li>
        <li><img src="/assets/images/settings 1.png">Settings</li>
        </ul>
    </nav>
    <div class="addnew" style="text-align: center;">
        <img src="assets/images/add-group (1) 1 (2).png"><br>addNew
    </div>
</div>